.productStore {
    width: 30vh;
    height: fit-content;
    background: linear-gradient(rgb(255, 255, 255), rgb(105, 134, 139));
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
    transition: all .3s ease;

    img {
        width: 100%;
        height: 200px;
        margin: auto;
        display: block;
        overflow: hidden;
        border-top-right-radius: 8;
    }

    h1 {
        font-size: 1.2rem;
        padding: .5rem 0;
        color: rgb(30, 102, 135);
        margin-top: .5rem;
    }


    span {
        padding: .2rem 0;
        display: block;
        width: 100%;
        height: 100%;

        &:nth-child(1) {
            color: rgb(10, 141, 90);
            text-shadow: 1px 2px 4px #d4e4e3;
        }

        &:nth-child(2) {
            font-size: .7rem;
            color: rgb(84, 108, 108);
        }
    }

    p {
        color: rgb(24, 89, 102);
        font-size: .9rem;
        padding: .5rem 0;
        height: 12vh;
    }

    .buttonProduct {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 2rem;
        display: flex;
        align-items: center;

        .buttonProductTransition {
            display: flex;
            justify-content: space-between;
            width: 50%;
            height: 70%;
        }

        button {
            padding: 1px 4px;
            width: 1.8rem;
            height: 100%;
            border: none;
            border-radius: 2px;
            background: linear-gradient(rgb(85, 111, 127), rgb(100, 184, 212));
            color: #e6eeef;
            cursor: pointer;
            opacity: .0;
            animation: Show .3s forwards;
        }

        #ADD_ITEM {
            width: 100%;
            // height: 1.8rem;
            animation: Show .3s forwards;
        }

        a {
            text-decoration: none;
            color: antiquewhite;
            text-shadow: 1px 1px 3px #666;
        }

        img {
            width: 20px;
            height: 20px;
            background: none;
        }

        div {
            display: flex;
        }
    }

    // .buttonProductTransition {
    //     display: flex;
    //     justify-content: flex-end;
    //     align-items: center;
    //     width: 60%;
    //     height: 100%;
    //     transition: all .3s ease-in;
    // }
}

#quantityProduct {
    padding: 4px;
    text-align: center;
    background: #d4e4e3;
    width: 1.1rem;
    border-radius: 4px;
    margin: 0 .8rem;
}

// #INCREASE ,#DECREASE ,#REMOVE_ITEM {
// }


@keyframes Show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(max-width : 768px) {
    .buttonProductTransition {
        margin-right: .8rem;
    }
}